Repository junyong3/chromatic_action_test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --cache --fix

메모리 릭 테스트 - 6
  package.json
Due: none

메모리 릭 테스트 - 7
  package.json
  pnpm-lock.yaml
Due: none

메모리 릭 테스트 - 8
  .npmrc
  pnpm-lock.yaml
Due: none

메모리 릭 테스트 - 9
  .npmrc
  .storybook/main.js
Due: eslint --fix, prettier --write, eslint --cache --fix

메모리 릭 테스트 - 9
  .storybook/main.js
Due: eslint --fix, prettier --write, eslint --cache --fix

메모리 릭 테스트 - 10
  .gitignore
  .storybook/main.js
  cypress.env.json
  cypress.json
Due: eslint --fix, prettier --write, eslint --cache --fix

메모리 릭 테스트 - 11
  .storybook/main.js
Due: eslint --fix, prettier --write, eslint --cache --fix

메모리 릭 테스트 - 12
  .github/workflows/chromatic_test.yml
Due: none

메모리 릭 테스트 - 12
  .github/workflows/chromatic_test.yml
  .storybook/main.js
Due: eslint --fix, prettier --write, eslint --cache --fix

메모리 릭 테스트 - 13
  package.json
Due: none

메모리 릭 테스트 - 13
  .github/workflows/chromatic_test.yml
  .github/workflows/pr_script_test.yml
Due: none

change
  .github/workflows/chromatic_test.yml
Due: none

메모리 릭 테스트 - 13
  .github/workflows/chromatic_test.yml
Due: none

메모리 릭 테스트 - 14
  .github/workflows/chromatic_test.yml
Due: none

메모리 릭 테스트 - 14
  .storybook/preview-head.html
  src/components/Button/ButtonOutlined.stories.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --cache --fix: any of: *.js
